.flex-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
  }
  
  .first-block {
    height: 100px;
    flex-grow: 3;
  }
  
  .second-block {
    height: 300px;
    flex-grow: 7;
  }